name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        build_type: [Release, Debug]
    steps:
    - uses: actions/checkout@v4
    - name: Configure CMake
      run: |
        cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
      # Use a specific shell for Windows to ensure compatibility
      shell: bash

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{ matrix.build_type }}
      shell: bash
      
    - name: Run Tests
      # Note: CTest might need a different command depending on your setup.
      run: cmake --test ${{github.workspace}}/build --config ${{ matrix.build_type }}
      shell: bash
